.header {
  width: 100%;
  height: 100vh;
}

.navbar {
  color: #fff;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  position: fixed;
  z-index: 100;
  border-bottom: 3px solid #0084ff2c;

  & .navbar-container {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo {
      
      & #name-logo {
        transition-duration: 300ms;
        margin: 0;
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: bolder;
        line-height: 1.6rem;
      }

      &:hover{
          & #name-logo{
            cursor: pointer;
          }
      }
    }

    & .items {
      width: 300px;
      font-weight: 600;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      justify-content: space-between;
        & .link-nav{
          transition: 200ms all ease-in-out;
          &:hover{
            color: var(--primary-color);
          }
        }
    }
  }
}
.glass-effect {
  background: #0000003f;
  backdrop-filter: blur(0.3rem);
}

.hero{
  max-width: 800px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
  color: #fff;

  & .hero-container{
    text-align: left;
    & #msj-welcome{
      font-size: 2rem;
      font-weight: 600;
    }
    & #web-developer{
      font-size: 2rem;
      font-weight: 800;
      color: var(--primary-color);
    }
    & #hero-subtitle{
      font-size: 1.1rem;
      padding: .5rem 0;
    }
    & .btn-container{
      width: 150px;
      padding: 5px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
        & img{
          width: 26px;
          height: 26px;
          filter: invert(100%);
          transition: all 0.2s ease-in-out;
            &:hover{
              cursor: pointer;
              scale: 1.2;
            }
        }
    }
  }
  & .photo-container{
    width: 195px;
    height: 195px;
    border-radius: 50%;
    border: 3px solid rgba(12, 152, 187, 0.464);
    box-shadow: 0 0 25px rgba(51, 129, 255, 0.856);
    overflow: hidden;
  }
  & #arrow-bottom{
    background-color: #1a1b4e6f;
    border-radius: 8px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 35px;
    animation-name: animacionFlechita;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    & img{
      width: 20px;
      height: 20px;
    }
    & figcaption{
        color: var(--primary-color);
        font-weight: 600;
        font-size: 1rem;
        padding: 0 2px;
    } 
  } 
}

/* Animations */

@keyframes animacionFlechita{
  0%{
    filter: opacity(90%);
  }
  100%{
    bottom: 50px;
    filter: opacity(100%);
  }
}

/* Responsive */

@media (width <= 768px) {
  .navbar {
    height: 70px;
    & .navbar-container {
      justify-content: center;
      & .items {
        display: none;
      }
    }
  }
  .hero{
    flex-direction: column-reverse;
    justify-content: center;
    gap: 4rem;
    & .hero-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      & #msj-welcome{
        font-size: 1.8rem;
      }
      & #web-developer{
        font-size: 1.9rem;
      }
      & #hero-subtitle{
        font-size: 1rem;
      }
      & .btn-container{
        padding: 10px 0px;
      }
    }
    & #arrow-bottom{
      display: none;
    }
  }
}

@media(width <= 400px) {

  .hero{
    & .hero-container{
      & #msj-welcome{
        font-size: 1.5rem;
      }
      & #web-developer{
        font-size: 1.6rem;
      }
      & #hero-subtitle{
        font-size: 1rem;
      }
      & .btn-container{
        padding: 10px 0px;
    }
    }
  }
}